body{
	background: lightblue;
	margin: 0px;
	padding: 0px;
}
section{
	padding: 0px, 6px;
	margin-left: 20px;
}
.head{
	background: black;

	font-family: arial;
	font-size: 25px;
		
}
.head ul{
	list-style-type: none;
	text-align: right;
	text-transform: uppercase;
	
	padding: 25px 20px;
     color: red;
     position: flex;
    

}
.head ul li a{
	color: pink;
	text-decoration: none;
	padding: 5px 20px;
	

}
.head ul li{
	display: inline;

		
}
.head ul li a:hover{
     background: green;

}
.name{
	color: green;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 40px;
	margin: 0px;
	text-align: left;
	text-transform: uppercase;
	 

}
#exepreince h1{
font-size: 50px;
font-weight: bold;
color: red;
text-align: center;

}
#exepreince h2{
 color: green;
 font-size: 20px;
}
#education h1{
font-size: 50px;
font-weight: bold;
color: red;
text-align: center;
}
#education h2{
 color: green;
 font-size: 20px;
}
#portfolio h1{
font-size: 50px;
font-weight: bold;
color: red;
text-align: center;
}
#portfolio h2{
 color: green;
 font-size: 20px;
}
#portfolio img .image-align .left{
float: left;
}
#portfolio img .image-align .right{
float: right;
}
.last{
	background: black;
	font-weight: bold;
	font-size: 25px;
	padding: 10px;
	margin: 0;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
.fa fa-facebook i{
font-size: 25px;
}
#aboutme img{
	padding: 0px 60px;
	width: 150px;
	height: 200px;
	margin-left: 80px;

}
#aboutme p{
	width: 600px;
	font-size: 20px;
	margin-left: -55px;
}
